body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

.ramen-gallery img {
    width: 100px;
    height:100px;
    margin: 5px;
    cursor: pointer;
}
.ramen-display img {
    width: 300px;
    height: auto;
}
.add-ramen-form {
    margin-top: 20px;
}
input, button {
    display: block;
    margin: 5px auto;
    padding: 8px;
}





